.profile-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-header {
    margin-left: 60px;
}

.image-container {
    background-color: #bdbdbd;
    margin-top: 100px;
    height: 200px;
    width:  200px;
    border-radius: 100px;
}

.text {
    color: white;
    justify-content: center;
}