.message-footer {
	position: fixed;
	width: 50%;
	bottom: 0;
	border: 10mm;
	border-color: blue;
}

.message-inputs {
	display: flex;
	flex-wrap: wrap;
	background-color: lightgray;
}

.emoji-icon {
	flex-grow: 1;
}
.input-field {
	flex-grow: 2;
}
.send-button {
	flex-grow: 1;
}
